{% extends 'base_detail_list.html' %}
{% block title %}天天生鲜-商品列表{% endblock title %}
{% load staticfiles %}
{% block main_content %}
    {% block topfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        $(function(){
            goods_id_list = ''

            $('.goods_type_list').children('li').each(function(){
                //　1.获取当前ｌｉ的属性goods_id值４　６　１０　１１　１２
                goods_id = $(this).attr('goods_id')
{#                alert(goods_id)#}
                // 2.将获取的每个属性值依次用逗号拼接在一起，拼成一个字符串,"4,6,10,11,12,"最后也会含有一个逗号
                goods_id_list += goods_id + ','
                })
                // alert(goods_id_list)
                // 3. 去除字符串的最后一个逗号,ｊｓ截取字符串substr
                goods_id_list = goods_id_list.substr(0, goods_id_list.length-1)
                // 发起一个ａｊａｘ请求，获取商品的图片数据
                $.get('/get_image_list/?goods_id_list='+goods_id_list, function(data){
                    // 返回数据固定格式{'商品id':'商品图片路径'}data.img_dict
                    img_dict = data.img_dict

                    $('.goods_type_list').children('li').each(function(){
                        // 1. 获取当前ｌｉ的属性的goods_id值
                        goods_id = $(this).attr('goods_id')
                        //　2. 设置当前ｌｉ下面的img标签的src属性
                        $(this).find('img').prop('src', '/static/'+img_dict[goods_id])
                    })
                })
        })
    </script>
{% endblock topfiles %}
	<div class="breadcrumb">
		<a href="#">{{ query }}</a>
		<span>></span>
		<a href="#">搜索商品</a>
	</div>

	<div class="main_wrap clearfix">
			<ul class="goods_type_list clearfix">
                {% for item in page %}
				<li goods_id = '{{ item.object.id }}'>

					<a href="/goods/{{ item.object.id }}/"><img src="{% static item.img_url %}"></a>
					<h4><a href="/goods/{{ item.object.id }}/">{{ item.object.goods_name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ item.object.goods_price }}</span>
						<span class="unit">{{ item.object.goods_price }}/{{ item.object.goods_unite }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if page.has_previous %}
				    <a href="/search/?q={{ query }}&page={{ page.number|add:-1 }}">&lt;上一页</a>
                {% endif %}
                {% for pindex in paginator.page_range %}
                    {% if pindex == page.number  %}
				        <a href="/search/?q={{ query }}&page={{ pindex }}" class="active">{{ pindex }}</a>
                    {% else %}
                        <a href="/search/?q={{ query }}&page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
				    <a href="/search/?q={{ query }}&page={{ page.number|add:1 }}">下一页&gt;</a>
                {% endif %}
			</div>
	</div>
{% endblock main_content %}
